@charset "utf-8"


#intro .intro-text{
    position:absolute;
    text-align: center;
    transform: translateY(-10%);
    top: 50%;
    width: 100%;
    height: 100%;
    color: white;
    top:50%;    
    font-size: 40px;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


